.nav {
    display: flex;
    justify-content: space-around;
  }

/* For the aesthetics */
.nav-button {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    
  }

.headings {
    background-color: aqua;
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
}